<div class="select-container">
  <div class="error" *ngIf="errorMessage">
    <p>{{ errorMessage }}</p>
  </div>

  <div class="selection">
    <p>Select country:</p>
    <select name="select" id="" (change)="sendCountry(select.value)" [formControl]="selectControl" #select>
      <option style="width: 200px;" *ngFor="let dataObject of covidDataObjects" [value]="dataObject.country">
        {{ dataObject.country }}
      </option>
    </select><br>
    <button (click)="resetCountry()">Reset</button>
  </div>
</div>
