.home-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  margin: 50px auto;
  justify-content: space-between;
}


.error {
  background-color: #ff6666;
  border: 1px solid #ff3333;
  margin-top: 2rem;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 0.7rem 1.5rem;
}

.error p {
  font-family: "Montserrat", serif;
  margin: 0;
  color: #fff;
}

.home-state,
.home-date-time {
  font-family: 'Montserrat', serif;
  color: #fff;
  font-size: 3.5rem !important;
  text-align: center;
}

.home-date-time {
  font-size: 2.5rem !important;
}

.home-state {
  font-size: 3rem;
  margin-top: 5rem;
}

.home-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
