.navbar-container {
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
}

.title {
  float: left;
  font-size: 2rem;
  color: #f07280;
  margin: 0 0 0 2rem;
  user-select: none;
}

.navbar {
  color: #f07280;
  font-size: 1.7rem;
  padding: 0 2rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  user-select: none;
  align-items: center;
}

.navbar > p {
  padding: 0.5rem 2rem;
}

.navbar p:hover {
  border-bottom: 3px solid #f07280;
}

